* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: #0e294b;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    color: #62b7ff;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav ul li a:hover {
    color: #62b7ff;
}

.kampus-logo img {
    height: 45px;
    margin-left: 10px;
    border-radius: 50%;
}

/* HERO */
.hero {
    background: #4a4a4a;
    color: white;
    text-align: center;
    padding: 160px 20px 120px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    color: #dcdcdc;
    margin-bottom: 30px;
    line-height: 1.5;
}

.btn {
    background: #00aaff;
    border: none;
    color: white;
    padding: 14px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: #0077cc;
}

/* SECTION BAWAH */
section {
    padding: 90px 20px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #444;
}

/* GAMBAR DEKORASI */
.gambar-section img {
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
    display: block;
}

/* RESPONSIVE */
@media(max-width: 750px) {
    nav ul {
        display: none;
    }
    .hero h1 {
        font-size: 28px;
    }
}
